# PyCharm Configuration Files
.idea

# Compiled Python Bytecode
**/__pycache__

# PyInstaller
build
dist
*.spec
pyinstaller*

# Cython
Cython*
*.pyd
src/build

# Compiled object files
*.c
*.o
*.obj
*.exe

# UPX
upx.exe
